In [5]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [6]:
df = pd.read_excel(r'../../assets/附件.xlsx')

In [8]:
df

,海水深度/m,Unnamed: 1,横向坐标/NM（由西向东）,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 193,Unnamed: 194,Unnamed: 195,Unnamed: 196,Unnamed: 197,Unnamed: 198,Unnamed: 199,Unnamed: 200,Unnamed: 201,Unnamed: 202
0,NaN,NaN,0.00,0.02,0.04,0.06,0.08,0.10,0.12,0.14,...,3.82,3.84,3.86,3.88,3.90,3.92,3.94,3.96,3.98,4.00
1,纵向坐标/NM\n（由南向北）,0.00,24.40,24.12,23.85,23.59,23.34,23.10,22.88,22.67,...,179.52,181.44,183.37,185.31,187.26,189.23,191.20,193.19,195.19,197.20
2,NaN,0.02,24.32,24.04,23.77,23.51,23.27,23.03,22.81,22.60,...,178.75,180.66,182.58,184.52,186.46,188.42,190.38,192.36,194.35,196.35
3,NaN,0.04,24.25,23.97,23.70,23.44,23.19,22.96,22.74,22.53,...,177.99,179.89,181.80,183.73,185.66,187.61,189.57,191.54,193.52,195.51
4,NaN,0.06,24.17,23.89,23.63,23.37,23.13,22.89,22.67,22.46,...,177.23,179.12,181.02,182.94,184.86,186.80,188.75,190.71,192.68,194.67
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
247,NaN,4.92,82.18,82.21,82.23,82.26,82.28,82.30,82.32,82.34,...,67.70,67.52,67.34,67.16,66.98,66.80,66.61,66.43,66.24,66.05
248,NaN,4.94,82.73,82.76,82.79,82.81,82.84,82.86,82.88,82.90,...,67.56,67.38,67.19,67.00,66.81,66.61,66.42,66.23,66.03,65.84
249,NaN,4.96,83.29,83.31,83.34,83.37,83.39,83.42,83.44,83.46,...,67.43,67.23,67.03,66.84,66.64,66.44,66.23,66.03,65.83,65.62
250,NaN,4.98,83.84,83.87,83.90,83.93,83.95,83.98,84.00,84.03,...,67.29,67.09,66.88,66.68,66.47,66.26,66.05,65.84,65.62,65.41
251,NaN,5.00,84.40,84.43,84.46,84.49,84.52,84.54,84.57,84.59,...,67.16,66.95,66.74,66.52,66.30,66.09,65.87,65.65,65.42,65.20